<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title><%= title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/themes/tooltipster-light.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/animations.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/responsive.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/wordpress.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/modulobox.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/leftalignmenu.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/themify-icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/loftloader/assets/css/loftloader.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/animations/animations.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/css/frontend.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/swiper.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/justifiedGallery.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/flickity.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor-responsive.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/custom-css.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/responsive.css"
      type="text/css"
      media="all"
    />

    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32" />
    <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="upload/TG-Thumb.png" />
    <meta name="msapplication-TileImage" content="upload/TG-Thumb.png" />
  </head>

  <body
    data-rsssl="1"
    class="home page-template-default page page-id-1706 woocommerce-no-js tg_menu_transparent tg_lightbox_black tg_sidemenu_desktop leftalign tg_footer_reveal loftloader-lite-enabled elementor-default elementor-kit-3641 elementor-page elementor-page-1706"
  >
    <div
      id="loftloader-wrapper"
      class="pl-imgloading"
      data-show-close-time="15000"
      data-max-load-time="0"
    >
      <div class="loader-inner">
        <div id="loader">
          <div class="imgloading-container">
            <span style="background-image: url(images/pp-logo.png)"></span>
          </div>
          <img
            data-no-lazy="1"
            class="skip-lazy"
            alt="loader image"
            src="images/pp-logo.png"
          />
        </div>
      </div>
      <div class="loader-section section-fade"></div>
      <div class="loader-close-button" style="display: none">
        <span class="screen-reader-text">Close</span>
      </div>
    </div>

    <div id="perspective">
      <!-- Begin mobile menu -->
      <a id="close_mobile_menu" href="javascript:;"></a>

      <div class="mobile_menu_wrapper">
        <div class="mobile_menu_content">
          <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
              <li class="menu-item menu-item-home">
                <a href="/" aria-current="page">Home</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/about" aria-current="page">About Us</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/services" aria-current="page">Services</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/team" aria-current="page">Team</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/contact" aria-current="page">Contact</a>
              </li>

              <li class="menu-item menu-item-has-children">
                <a href="#">Other</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/blog">Blog</a>
                  </li>
                  <li class="menu-item">
                    <a href="/casestudies">Case Studies</a>
                  </li>
                  <li class="menu-item">
                    <a href="/testimonials">Testimonials</a>
                  </li>
                  <li class="menu-item">
                    <a href="/faqs">FAQS</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End mobile menu -->
      <!-- Begin template wrapper -->
      <div id="wrapper" class="hasbg transparent">
        <div id="elementor_header" class="header_style_wrapper nonfixed">
          <div
            data-elementor-type="wp-post"
            data-elementor-id="64"
            class="elementor elementor-64"
            data-elementor-settings="[]"
          >
            <div class="elementor-inner">
              <div class="elementor-section-wrap">
                <section
                  class="elementor-element elementor-element-d3a9fbc elementor-section-stretched animated-fast elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                  data-id="d3a9fbc"
                  data-element_type="section"
                  data-settings='{"stretch_section":"section-stretched","background_background":"classic","animation":"fadeIn"}'
                >
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                      <div
                        class="elementor-element elementor-element-8952182 elementor-column elementor-col-20 elementor-top-column"
                        data-id="8952182"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-b03b354 elementor-widget elementor-widget-image"
                              data-id="b03b354"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a href="index.html">
                                    <img
                                      style="width: 200px !important"
                                      src="images/pp-logo-dark.png"
                                      class="attachment-full size-full"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-708113b elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="708113b"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e78b47 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-bookingo-navigation-menu"
                              data-id="8e78b47"
                              data-element_type="widget"
                              data-widget_type="bookingo-navigation-menu.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="tg_navigation_wrapper">
                                  <div class="menu-main-menu-container">
                                    <ul id="nav_menu6" class="nav">
                                      <li class="menu-item menu-item-home">
                                        <a href="/" aria-current="page">Home</a>
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/about" aria-current="page"
                                          >About Us</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/services" aria-current="page"
                                          >Services</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/team" aria-current="page"
                                          >Team</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/contact" aria-current="page"
                                          >Contact</a
                                        >
                                      </li>

                                      <li
                                        class="menu-item menu-item-has-children"
                                      >
                                        <a href="#">Other</a>
                                        <ul class="sub-menu">
                                          <li class="menu-item">
                                            <a href="/blog">Blog</a>
                                          </li>
                                          <li class="menu-item">
                                            <a href="/casestudies"
                                              >Case Studies</a
                                            >
                                          </li>
                                          <li class="menu-item">
                                            <a href="/testimonials"
                                              >Testimonials</a
                                            >
                                          </li>
                                          <li class="menu-item">
                                            <a href="/faqs">FAQS</a>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4335597 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="4335597"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-baa8657 elementor-shape-circle elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-social-icons"
                              data-id="baa8657"
                              data-element_type="widget"
                              data-widget_type="social-icons.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-social-icons-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-pop elementor-repeater-item-862937d"
                                    target="_blank"
                                  >
                                    <span class="elementor-screen-only"
                                      >Facebook</span
                                    >
                                    <i class="fa fa-facebook"></i>
                                  </a>
                                  <a
                                    href="#"
                                    class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-pop elementor-repeater-item-2aca982"
                                    target="_blank"
                                  >
                                    <span class="elementor-screen-only"
                                      >Twitter</span
                                    >
                                    <i class="fa fa-twitter"></i>
                                  </a>
                                  <a
                                    href="#"
                                    class="elementor-icon elementor-social-icon elementor-social-icon-tripadvisor elementor-animation-pop elementor-repeater-item-f4f33ad"
                                    target="_blank"
                                  >
                                    <span class="elementor-screen-only"
                                      >Tripadvisor</span
                                    >
                                    <i class="fa fa-tripadvisor"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-94d4615 elementor_desktop_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="94d4615"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-ed53f40 elementor-align-right elementor-hidden-desktop elementor_mobile_nav elementor-widget elementor-widget-button"
                              data-id="ed53f40"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-button-link elementor-button elementor-size-xl"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span
                                        class="elementor-button-icon elementor-align-icon-left"
                                      >
                                        <i
                                          class="fa fa-bars"
                                          aria-hidden="true"
                                        ></i>
                                      </span>
                                      <span
                                        class="elementor-button-text"
                                      ></span>
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-b1270b6 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="b1270b6"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e3f5ef elementor-align-right elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-button"
                              data-id="8e3f5ef"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span class="elementor-button-text"
                                        >Book Us</span
                                      >
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div id="page_caption" class="   ">
          <div class="page_title_wrapper">
            <div class="standard_wrapper">
              <div class="page_title_inner">
                <div class="page_title_content">
                  <h1>Service 1</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="">
          <div class="inner">
            <!-- Begin main content -->
            <div class="inner_wrapper">
              <div class="sidebar_content full_width">
                <div
                  data-elementor-type="wp-post"
                  data-elementor-id="1169"
                  class="elementor elementor-1169 elementor-bc-flex-widget"
                  data-elementor-settings="[]"
                >
                  <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                      <section
                        class="elementor-element elementor-element-292a38d elementor-section-stretched elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                        data-id="292a38d"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                      >
                        <div class="elementor-background-overlay"></div>
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-54614da elementor-column elementor-col-33 elementor-top-column"
                              data-id="54614da"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-8f1917e animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="8f1917e"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h1
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        You got questions?
                                      </h1>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-c838e02 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="c838e02"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp","_animation_delay":200}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h2
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Here are the FAQS
                                      </h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-cc88670 elementor-column elementor-col-66 elementor-top-column"
                              data-id="cc88670"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                      <section
                        class="elementor-element elementor-element-6ea142c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                        data-id="6ea142c"
                        data-element_type="section"
                      >
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-3e03c18 elementor-column elementor-col-50 elementor-top-column"
                              data-id="3e03c18"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-4d80da0 elementor-column elementor-col-25 elementor-top-column"
                              data-id="4d80da0"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-fb60910 elementor-widget elementor-widget-heading"
                                    data-id="fb60910"
                                    data-element_type="widget"
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <span
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Get answers to your questions about our
                                        fractional CFO services. Our FAQs page
                                        covers everything from what we offer to
                                        how we work with clients. Get a better
                                        understanding of how we can help your
                                        business here.
                                      </span>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-eae4a20 elementor-widget elementor-widget-toggle"
                                    data-id="eae4a20"
                                    data-element_type="widget"
                                    data-widget_type="toggle.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div
                                        class="elementor-toggle"
                                        role="tablist"
                                      >
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2461"
                                            class="elementor-tab-title"
                                            data-tab="1"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2461"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What is fractional CFO services
                                              and what does it include?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2461"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="1"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2461"
                                          >
                                            <p>
                                              Fractional CFO services refer to
                                              hiring a Chief Financial Officer
                                              on a part-time basis to assist
                                              with financial decision-making and
                                              strategy. This can include budget
                                              forecasting, financial analysis,
                                              and improving financial processes
                                              and systems.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2462"
                                            class="elementor-tab-title"
                                            data-tab="2"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2462"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What is Profitability Partners
                                              and what services do you offer?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2462"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="2"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2462"
                                          >
                                            <p>
                                              Profitability Partners is a
                                              fractional CFO services firm that
                                              provides a range of financial
                                              management services to small and
                                              medium-sized businesses. Services
                                              offered include budget
                                              forecasting, financial analysis,
                                              and process improvement.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2463"
                                            class="elementor-tab-title"
                                            data-tab="3"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2463"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Who would benefit from fractional
                                              CFO services?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2463"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="3"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2463"
                                          >
                                            <p>
                                              Small and medium-sized businesses
                                              that are looking for a
                                              cost-effective solution for
                                              financial management and strategy
                                              would benefit from fractional CFO
                                              services.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="4"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What is the difference between a
                                              full-time CFO and a fractional
                                              CFO?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="4"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              A full-time CFO is a full-time
                                              employee of a company, while a
                                              fractional CFO is hired on a
                                              part-time basis. This allows the
                                              company to receive the benefits of
                                              a CFO without having to incur the
                                              costs associated with a full-time
                                              employee.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="5"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How much does it cost to hire a
                                              fractional CFO?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="5"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              The cost of hiring a fractional
                                              CFO can vary depending on the
                                              services needed and the size of
                                              the company. On average, a
                                              fractional CFO costs between
                                              $3,000-$10,000 per month, which
                                              breaks down to around $36,000 to
                                              $120,000 annually.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="6"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can a fractional CFO help us with
                                              budget forecasting?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="6"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, a fractional CFO can help
                                              with budget forecasting and
                                              provide guidance on how to manage
                                              financial resources effectively to
                                              achieve business goals.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="7"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How can a fractional CFO improve
                                              our financial processes and
                                              systems?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="7"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              A fractional CFO can evaluate
                                              existing financial processes and
                                              systems and make recommendations
                                              for improvement. This can lead to
                                              more efficient and effective
                                              financial management, which can
                                              result in cost savings and
                                              increased profitability.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="8"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What type of companies does
                                              Profitability Partners work
                                              with?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="8"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Profitability Partners works with
                                              small and medium-sized businesses
                                              and startups in a variety of
                                              industries.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="9"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can a fractional CFO help us make
                                              well-informed financial
                                              decisions?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="9"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, a fractional CFO can provide
                                              the expertise and knowledge needed
                                              to make well-informed financial
                                              decisions. This can lead to
                                              improved financial performance and
                                              increased growth opportunities.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="10"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What kind of financial analysis
                                              can a fractional CFO provide?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="10"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              A fractional CFO can provide a
                                              range of financial analysis,
                                              including trend analysis, cash
                                              flow analysis, and profitability
                                              analysis.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="11"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can a fractional CFO help us with
                                              our financial planning and
                                              strategy?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="11"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, a fractional CFO can provide
                                              guidance and support with
                                              financial planning and strategy,
                                              including budgeting and
                                              forecasting, to help the company
                                              reach its financial goals.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="12"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What are the benefits of working
                                              with Profitability Partners?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="12"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Benefits of working with
                                              Profitability Partners include
                                              access to a team of experienced
                                              financial professionals,
                                              cost-effective solutions for
                                              financial management and strategy,
                                              and improved financial performance
                                              and growth opportunities.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="13"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How can a fractional CFO help our
                                              business grow?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="13"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              A fractional CFO can provide the
                                              expertise and guidance needed to
                                              make informed financial decisions,
                                              improve financial processes and
                                              systems, and develop and implement
                                              a growth strategy.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="14"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How long does it take to see
                                              results after hiring a fractional
                                              CFO?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="14"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              The time frame for seeing results
                                              after hiring a fractional CFO will
                                              depend on the specific goals and
                                              needs of the company. However,
                                              many businesses begin to see
                                              improvements in financial
                                              management and decision-making
                                              within a few months of working
                                              with a fractional CFO.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="15"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can we work with Profitability
                                              Partners on a project basis?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="15"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, Profitability Partners offers
                                              both project-based and ongoing
                                              fractional CFO services to meet
                                              the needs of small and
                                              medium-sized businesses and
                                              startups.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="16"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What makes Profitability Partners
                                              different from other fractional
                                              CFO service providers?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="16"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Profitability Partners stands out
                                              from other fractional CFO service
                                              providers due to our team of
                                              experienced financial
                                              professionals, personalized
                                              approach, and commitment to
                                              helping our clients achieve their
                                              financial goals.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="17"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can a fractional CFO help us with
                                              tax planning and preparation?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="17"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, a fractional CFO can assist
                                              with tax planning and preparation
                                              and provide guidance on how to
                                              minimize tax liability and stay in
                                              compliance with tax laws and
                                              regulations.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="18"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can a fractional CFO assist with
                                              business planning and strategy
                                              beyond finance?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="18"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, a fractional CFO can bring a
                                              financial perspective to business
                                              planning and strategy and offer
                                              insights into how financial
                                              decisions and strategies can
                                              impact the overall success of the
                                              business.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="19"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can a fractional CFO assist with
                                              investor relations?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="19"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, a fractional CFO can assist
                                              with investor relations and
                                              provide guidance on how to
                                              effectively communicate financial
                                              performance and growth
                                              opportunities to stakeholders.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="20"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What should I look for when
                                              hiring a fractional CFO service
                                              provider?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="20"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              When hiring a fractional CFO
                                              service provider, look for a team
                                              with relevant experience and a
                                              strong track record of helping
                                              businesses achieve their financial
                                              goals. It is also important to
                                              consider the cost and level of
                                              services offered, as well as the
                                              ability to work with the provider
                                              on an ongoing basis.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-118d8ac elementor-column elementor-col-25 elementor-top-column"
                              data-id="118d8ac"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End main content -->
          </div>
          <br class="clear" />
        </div>
      </div>
      <%- include('footer'); -%>

      <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/plugins/typed/js/typed.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/typed/js/frontend.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/core.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/ui/datepicker.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
          closeText: "Close",
          currentText: "Today",
          monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          monthNamesShort: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          nextText: "Next",
          prevText: "Previous",
          dayNames: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
          dateFormat: "MM d, yy",
          firstDay: 1,
          isRTL: false,
        });
      });
    </script>

    <script
      type="text/javascript"
      src="js/plugins/imagesloaded.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/masonry.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.lazy.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("img.lazy").each(function () {
          var currentImg = jQuery(this);

          jQuery(this).Lazy({
            onFinishedAll: function () {
              currentImg.parent("div.post_img_hover").removeClass("lazy");
              currentImg
                .parent(".tg_gallery_lightbox")
                .parent("div.gallery_grid_item")
                .removeClass("lazy");
              currentImg.parent("div.gallery_grid_item").removeClass("lazy");
            },
          });
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/modulobox.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/effect.min.js"></script>
    <script type="text/javascript" src="js/plugins/waypoints.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/tilt.jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.stellar.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/custom_plugins.js"></script>
    <script type="text/javascript" src="js/plugins/custom.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.sticky-kit.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("#page_content_wrapper .sidebar_wrapper").stick_in_parent({
          offset_top: 100,
          recalc_every: 1,
        });

        if (jQuery(window).width() < 768 || is_touch_device()) {
          jQuery("#page_content_wrapper .sidebar_wrapper").trigger(
            "sticky_kit:detach"
          );
        }
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.tooltipster.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery(".demotip").tooltipster({
          position: "left",
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/loftloader/assets/js/loftloader.min.js"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var tgAjax = { ajaxurl: "#", ajax_nonce: "5a2b2b9ff1" };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/kingo-elementor.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/flickity.pkgd8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.ui.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/anime.min8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/mls8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/swiper/swiper.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend-modules.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/position.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/dialog/dialog.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/share-link/share-link.min.js"
    ></script>
    <script type="text/javascript">
      var elementorFrontendConfig = {
        environmentMode: { edit: false, wpPreview: false },
        i18n: {
          shareOnFacebook: "Share on Facebook",
          shareOnTwitter: "Share on Twitter",
          pinIt: "Pin it",
          downloadImage: "Download image",
        },
        is_rtl: false,
        breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
        version: "2.9.14",
        urls: {
          assets:
            "https:\/\/themes.themegoods.com\/bookingo\/demo\/wp-content\/plugins\/elementor\/assets\/",
        },
        settings: {
          page: [],
          general: {
            elementor_global_image_lightbox: "yes",
            elementor_lightbox_enable_counter: "yes",
            elementor_lightbox_enable_fullscreen: "yes",
            elementor_lightbox_enable_zoom: "yes",
            elementor_lightbox_enable_share: "yes",
            elementor_lightbox_title_src: "title",
            elementor_lightbox_description_src: "description",
          },
          editorPreferences: [],
        },
        post: {
          id: 1706,
          title:
            "Kingo%20%7C%20Accountant%20Demo%20%E2%80%93%20Just%20another%20WordPress%20site",
          excerpt: "",
          featuredImage: false,
        },
      };
    </script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend.min.js"
    ></script>
  </body>
</html>
